@tailwind base;
@tailwind components;
@tailwind utilities;


@layer {
	:root {
		--color-primary: #7d736d;
	}
}

@layer components {
	.container-width {
		@apply max-w-screen-sm mx-auto w-full
	}
	.container-height {
		@apply min-h-screen h-full
	}

	.container-sub {
		@apply px-4 pt-4 pb-12
	}

	.list-dot::before {
		content: "•";
		margin-right: 0.2rem;
	}

	.block-title {
		@apply text-lg font-medium
	}
}
