@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Pretendard";
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url("font/Pretendard-Thin.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url("font/Pretendard-ExtraLight.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url("font/Pretendard-Light.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("font/Pretendard-Regular.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard-Medium";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("font/Pretendard-Medium.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url("font/Pretendard-SemiBold.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("font/Pretendard-Bold.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url("font/Pretendard-ExtraBold.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url("font/Pretendard-Black.subset.woff2") format("woff2");
	}
	@font-face {
		font-family: "hambak";
		src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
			format("woff");
		font-weight: normal;
		font-style: normal;
	}
}

body {
	width: 100%;
	height: 100%;
	background: radial-gradient(#f6e6cb, #e7d4b5, #a0937d);
	min-height: 100vh;
}
