@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Pretendard";
		font-style: normal;
		font-weight: 100;
		font-display: swap;
		src: url("font/Pretendard-Thin.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 200;
		font-display: swap;
		src: url("font/Pretendard-ExtraLight.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url("font/Pretendard-Light.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url("font/Pretendard-Regular.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard-Medium";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("font/Pretendard-Medium.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url("font/Pretendard-SemiBold.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("font/Pretendard-Bold.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 800;
		font-display: swap;
		src: url("font/Pretendard-ExtraBold.subset.woff2") format("woff2");
	}

	@font-face {
		font-family: "Pretendard";

		font-style: normal;
		font-weight: 900;
		font-display: swap;
		src: url("font/Pretendard-Black.subset.woff2") format("woff2");
	}

	@font-face {
    font-family: '행복고흥L';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
}

@layer {
	:root {
		--color-primary: #7d736d;
	}
}

@layer components {
	.container-width {
		@apply max-w-screen-sm mx-auto w-full
	}
	.container-height {
		@apply min-h-screen h-full
	}

	.container-sub {
		@apply px-4 pt-4 pb-12
	}

	.list-dot::before {
		content: "•";
		margin-right: 0.2rem;
	}

	.block-title {
		@apply text-lg font-medium
	}
}
